<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title> AbcProduct</title>
</head>
<body>
	<h2>在庫一覧</h2>
	<table border="1">
        <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>価格</th>
            <th>在庫数</th>
            <th>倉庫名</th>
        </tr>
		<tr th:each="info : ${info}">
			<td th:text="${info.productId}"></td>
			<td th:text="${info.productName}"></td>
			<td th:text="${info.productPrice} + ' ' + 万円"></td>
			<td th:text="${info.stockCount} + ' ' +台"></td>
			<td th:text="${info.warehouseName}"></td>
        </tr>
    </table>
    <ul>
    <li th:text="${pages.getPageSize()}"></li>
    <li th:text="${pages.getPageNum()}"></li>
	<li th:text="${pages.getStartRow()}"></li>
	<li th:text="${pages.getEndRow()}"></li>
	<li th:text="${pages.getTotal()}"></li>
	<li th:text="${pages.getPages()}"></li>


    </ul>
</body>
</html>