<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title> AbcProduct</title>
</head>
<body>
	<h2>在庫一覧</h2>
	<table border="1">
        <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>価格</th>
            <th>在庫数</th>
            <th>倉庫名</th>
        </tr>
		<tr th:each="stock : ${stock}">
			<td th:text="${stock.productId}"></td>
			<td th:text="${stock.products.get(0).productName}"></td>
			<td th:text="${stock.products.get(0).productPrice} + 万円"></td>
			<td th:text="${stock.stockCount} + 個"></td>
			<td th:text="${stock.warehouses.get(0).warehouseName}"></td>
        </tr>
    </table>
</body>
</html>